body{
font-family:Arial;
background:#f0f2f5;
margin:0;
}

header{
background:#007bff;
color:white;
padding:30px;
text-align:center;
}

.container{
display:flex;
justify-content:center;
gap:20px;
padding:30px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
width:250px;
border-radius:15px;
box-shadow:0 0 10px gray;
text-align:center;
}

button{
background:#007bff;
color:white;
border:none;
padding:10px 20px;
border-radius:10px;
cursor:pointer;
}
